@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ramaraja&display=swap');

@font-face {
    font-family: 'recoletabold';
    src: url('../fonts/recoleta/recoleta_bold-webfont.woff2') format('woff2'),
        url('../fonts/recoleta/recoleta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'recoletamedium';
    src: url('../fonts/recoleta/recoleta_medium-webfont.woff2') format('woff2'),
        url('../fonts/recoleta/recoleta_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'recoletamedium';
    src: url('../fonts/recoleta/recoleta-medium-webfont.woff2') format('woff2'),
        url('../fonts/recoleta/recoleta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica/helvetica-webfont.woff2') format('woff2'),
        url('../fonts/helvetica/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}