@mixin b-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

@mixin transition($trans) {
  -webkit-transition: all $trans linear;
  transition: all $trans linear;
}

@mixin sepia($sepia) {
  -webkit-filter: sepia($sepia);
  filter: sepia($sepia);
}

@mixin gray($gray) {
  -webkit-filter: grayscale($gray);
  filter: grayscale($gray);
}

@mixin gradtion($sColor, $eColor) {
  background: $sColor;
  background: -moz-linear-gradient(top, $sColor 0%, $eColor 100%);
  background: -webkit-linear-gradient(top, $sColor 0%, $eColor 100%);
  background: linear-gradient(to bottom, $sColor 0%, $eColor 100%);
}

@mixin gradtionBottom($sColor, $eColor) {
  background: $sColor;
  background: -moz-linear-gradient(bottom, $sColor 0%, $eColor 40%);
  background: -webkit-linear-gradient(bottom, $sColor 0%, $eColor 40%);
  background: linear-gradient(to top, $sColor 0%, $eColor 40%);
}

@mixin gradtionThree($stColor, $mdColor, $enColor) {
  background: $enColor;
  background: -moz-linear-gradient(left,
      $stColor 0%,
      $mdColor 50%,
      $enColor 100%);
  background: -webkit-linear-gradient(left,
      $stColor 0%,
      $mdColor 50%,
      $enColor 100%);
  background: linear-gradient(to right,
      $stColor 0%,
      $mdColor 50%,
      $enColor 100%);
}

@mixin position-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}