// fonts
$font: 'helveticaregular',
'Roboto',
sans-serif;
$fontR: 'recoletamedium',
'Averia Serif Libre',
cursive;

$fontRM: 'recoletamedium',
'Averia Serif Libre';

$titleFont: 'recoletabold',
'Berkshire Swash',
cursive;
$contentFont: 'recoletamedium',
'Ramaraja',
serif;

// colors
$yellow: #F7DF53;
$grey: #F2F2F2;
$txt-grey: #707070;
$trans: transparent;
$white: #fff;
$black: #000;
$blue: #487CBA;
$red: #DB5B54;
$green: #76A780;
$brown: #C97840;
$pink: #F0BEC8;

$colors: $yellow,
$blue,
$red,
$green,
$brown,
$pink;

// paths
$img: "../images" !default;

// menu
$bp-small: 500px;
$bp-arrow: 700px;


//coin animation variables

$coin-diameter: 80px;
$coin-diameter-sm: 65px;
$coin-thickness: 6px;
$coin-thickness-sm: 3px;
$coin-color: #76a780;
$coin-img: "../images/Oatside_Coin_A.png";
$edge-faces: 80;
$edge-face-length: 3.5*$coin-diameter/$edge-faces;
$turn-time: 8s;