/*
Theme Name : Oatside
version    : 0.1
*/

/*==========================
Common Styles
==========================*/
@import "bootstrap/bootstrap";
@import "fonts";
@import "variables";
@import "mixin";
@import "flickity";
@import "owl";
@import "animate";

%tblr {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

%flh {
    height: auto;
    float: left;
    clear: both;
}

%all-section {
    width: 100%;
    position: relative;
}

%bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

%btn {
    display: inline-block;
    position: relative;
    padding: 15px 25px;
    font-size: 20px;
    margin: 10px 0px;
    outline: 0px;
    border: 0px;
    border-radius: 50px;
    line-height: 0px;
    cursor: pointer;
    @include transition(400ms);
}

body {
    font-family: $contentFont;
    font-size: 24px;
    line-height: 32px;
    color: $black;
    overflow: hidden;

    &.open,
    &.topMenuOpen {
        overflow: hidden !important;
    }
}

h1 {
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 20px;
    color: $black;
    font-family: $titleFont;

    @media (max-width: 991px) {
        font-size: 50px;
    }

    @media (max-width: 640px) {
        font-size: 32px;
    }
}

h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 35px;
    font-family: $titleFont;
}

h3 {
    font-family: $titleFont;
    font-size: 48px;
    margin-bottom: 25px;
    line-height: 64px;

    @media (max-width: 640px) {
        font-size: 32px;
    }
}

h4 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 30px;
    font-family: $titleFont;
}

h5 {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0px;
    font-family: $titleFont;

    @media (max-width: 640px) {
        font-size: 24px;
        line-height: 32px;
    }
}

h6 {
    font-size: 18px;
    font-family: $titleFont;
}

section,
header,
footer,
main {
    @extend %all-section;
    @extend %flh;
    position: relative;
    @include transition(400ms);
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

svg {
    max-width: 100%;
}

b,
strong {
    font-weight: 700;
}

.btn-outline {
    color: $black;
    border: 2px solid;
    @extend %btn;

    &:hover {
        color: $white;
        background: $black;
        border-color: $black;
    }
}

.btn-secondary {
    background-color: $grey;
    border: 1px solid $black;
    color: $black;
    @extend %btn;

    &:hover {
        background-color: $blue;
    }
}

.btn-warning {
    background-color: $yellow;
    color: $black;
    border: 1px solid $black;
    @extend %btn;

    &:hover {
        background-color: $trans;
    }
}

.main-wrap {
    background-color: $white;
    padding-top: 140px;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    z-index: 9999;

    #loader-logo {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        svg {
            transition: all 400ms linear;
            overflow: visible;

            path {
                animation: bouncing 2s cubic-bezier(0.69, -0.22, 1, 1) infinite;
                transform-origin: 50% 50%;
                transform-box: fill-box;

                @for $i from 1 to 9 {
                    &:nth-child(#{$i}) {
                        animation-delay: $i * 0.2s;
                    }
                }
            }
        }
    }
}

header {
    background-color: $white;
    transition: all 400ms cubic-bezier(0.22, 0.9, 1, 1);

    @media (max-width: 640px) {
        overflow: hidden;
    }

    .topMenuOpen & {
        transition: all 300ms cubic-bezier(1, 0.16, 1, 1);
    }

    &:after {
        content: "";
        display: block;
        border-bottom: 1px solid #aaaaaa;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        transition: all 400ms linear;
    }

    .open &:after {
        left: 50%;
        right: auto;
        width: 0px;
    }

    .header {
        padding-top: 5px;
        padding-bottom: 0px;
        position: relative;



        .logo {
            @media (max-width: 640px) {
                svg {
                    max-width: 175px;
                    width: 100%;
                }
            }

            @media (max-width: 640px) {
                svg {
                    max-width: 150px;
                }
            }
        }
    }
}

.menu-toggle {
    width: 50px;
    height: 41px;
    position: relative;
    z-index: 99;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: $trans;
    border: 0px;
    padding: 0px;

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 50%;
        border-radius: 2px;
        background: $black;
        opacity: 1;
        transform: rotate(0deg);
        transition: 200ms cubic-bezier(0, 0, 0.1, 1.02);

        /* @for $i from 1 to 7 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.04s;
            }
        }*/

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 2px 2px 0;
        }

        &:nth-child(odd) {
            left: 0px;
            border-radius: 2px 0 0 2px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 0px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 15px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            top: 30px;
        }
    }

    i.menuOpend {
        transform: scale(0.2) translateY(0px);
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 400ms linear;
    }

    @media (min-width: 641px) {
        &:hover i.menuOpend {
            transform: scale(1.2) translateY(0px);
            opacity: 1;
            visibility: visible;
        }

        &:hover span {
            opacity: 0;
        }
    }

    @media (max-width: 640px) {
        span {
            opacity: 0;
        }

        i.menuOpend {
            transform: scale(1) translateY(0px);
            opacity: 1;
            visibility: visible;
        }
    }

    .open & {
        span {

            &:nth-child(1),
            &:nth-child(6) {
                transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
                transform: rotate(-45deg);
            }

            &:nth-child(1) {
                left: 1px;
                top: 6px;
            }

            &:nth-child(2) {
                left: calc(50% - 5px);
                top: 6px;
            }

            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }

            &:nth-child(4) {
                left: 100%;
                opacity: 0;
            }

            &:nth-child(5) {
                left: 2px;
                top: 24px;
            }

            &:nth-child(6) {
                left: calc(50% - 6px);
                top: 24px;
            }
        }

        &:hover span {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(5),
            &:nth-child(6) {
                opacity: 1;
            }
        }

        &:hover i.menuOpend {
            transform: scale(0.2) translateY(0px);
            opacity: 0;
            visibility: hidden;
        }

        @media (max-width: 640px) {
            span {

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(5),
                &:nth-child(6) {
                    opacity: 1;
                }
            }

            i.menuOpend {
                transform: scale(1.2) translateY(0px);
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

nav {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &:before {
        content: "";
        @include position-center;
        background: $white;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: scale(0.04), translateY(9999px);
        overflow: hidden;
    }

    figure.menu-image {
        position: fixed;
        bottom: 0;
        right: 0px;
        // transform: translate(0%, -50%);
        opacity: 0;
        width: 400px;

        @media (max-width: 991px) {
            width: 300px;
            top: auto;
            bottom: -53px;
            right: -110px;
            transform: translate(0%, 0%);
        }

        @media (max-width: 768px) {
            width: 200px;
            top: auto;
            bottom: 0;
            right: 0;
            transform: translate(0%, 0%);
        }
    }

    .open & {
        top: 0;
        z-index: 5;
        overflow: hidden;

        &:before {
            animation: menu-animation 0.8s ease-out forwards;
        }

        figure.menu-image {
            opacity: 1;
            transition: transform 0.2s ease-out, opacity 0.2s ease-out;
            transition-delay: 2s;
        }
    }
}

ul.menu {
    color: $black;
    padding: 0px;
    margin-bottom: 0px;
    margin: 0px auto;
    position: relative;
    z-index: 2;
    margin: 110px 0 220px;

    @media (min-width: 768px) {
        margin: 130px 0;
    }

    li {
        opacity: 0;
        text-align: center;
        transform: translate3d(0, 36px, 0);
        list-style: none;
        margin-bottom: 20px;

        @media (max-width: 767px) {
            margin-bottom: 12px;
        }

        a {
            position: relative;
            display: block;
            font-size: 30px;
            color: $black;
            text-decoration: none;
            transition: all 400ms linear;

            @media (max-width: 767px) {
                font-size: 22px;
            }

            &:hover {
                &:after {
                    animation-name: bounce;
                    animation-duration: 2s;
                }
            }
        }

        @for $i from 1 through length($colors) {
            &:nth-child(#{length($colors)}n + #{$i}) {
                a:hover {
                    text-decoration: underline;
                    color: nth($colors, $i);
                }
            }
        }

        &.menu-dropdown>a:after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(#{$img}/nav-arrow.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 12px;
            position: relative;
            top: 4px;
            transition: all 400ms linear;
        }

        &.menuOpen {
            >a:after {
                transform: rotate(-180deg);
            }
        }

        .open & {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: transform 0.2s ease-out, opacity 0.2s ease-out;

            @for $i from 1 to 9 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.1s + 0.65s;
                }
            }
        }

        >.submenu {
            display: none;
            margin-top: 20px;
            padding: 0px;

            li {
                margin-bottom: 0px;

                a {
                    font-size: 20px;
                }
            }
        }
    }
}

.banner {
    overflow: hidden;
    margin-top: -45px;
    height: 1000px;

    /*@media (max-width: 640px) {
        img {
            width: auto !important;
            max-width: 230%;
            transform: translate(-50%, 0px);
        }
    }*/
    .container-fluid {
        width: 1366px;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        height: 800px;
    }

    img {
        position: absolute;

        &#bs-1 {
            top: -60px;
            left: 120px;
        }

        &#bs-2 {
            top: -70px;
            left: 26%;
        }

        &#bs-3 {
            top: -70px;
            left: 42%;
        }

        &#bs-4 {
            top: -50px;
            left: 56%;
        }

        &#bs-5 {
            top: -60px;
            right: 16%;
        }

        &#bs-6 {
            top: -70px;
            right: 3%;
        }

        &#bs-7 {
            top: 112px;
            left: 3%;
        }

        &#bs-8 {
            top: 98px;
            left: 19%;
        }

        &#bs-9 {
            top: 25px;
            left: 35%;
        }

        &#bs-10 {
            top: 118px;
            left: 42%;
        }

        &#bs-11 {
            top: 47px;
            left: 51%;
        }

        &#bs-12 {
            top: 90px;
            right: 21%;
        }

        &#bs-13 {
            top: 80px;
            right: 14.5%;
        }

        &#bs-14 {
            top: 186px;
            left: 6%;
        }

        &#bs-15 {
            top: 103px;
            right: 4%;
        }

        &#bs-16 {
            top: 220px;
            right: 5%;
        }

        &#bs-17 {
            top: 240px;
            right: 22%;
        }

        &#bs-18 {
            top: 230px;
            left: 51%;
        }

        &#bs-19 {
            top: 305px;
            left: 39%;
        }

        &#bs-20 {
            top: 380px;
            left: 53%;
        }

        &#bs-21 {
            top: 340px;
            left: 54%;
        }

        &#bs-22 {
            top: 56%;
            right: 23%;
        }

        &#bs-23 {
            top: 49%;
            right: -4%;
        }

        &#bs-24 {
            bottom: 28%;
            right: 13%;
        }

        &#bs-25 {
            bottom: 12%;
            right: 7%;
        }

        &#bs-26 {
            bottom: 26%;
            left: 28%;
        }

        &#bs-27 {
            bottom: 13%;
            left: 22%;
        }

        &#bs-28 {
            bottom: 52%;
            left: 32%;
        }

        &#bs-29 {
            bottom: 36%;
            left: 21%;
        }

        &#bs-30 {
            bottom: 10%;
            left: 41%;
        }

        &#bs-31 {
            bottom: 30%;
            left: 3%;
        }

        &#bs-32 {
            bottom: 18%;
            left: 8%;
        }
    }
}

.menu-top-icons {
    a {
        display: inline-block;
        margin-left: -20px;

        .coin {
            position: relative;
            width: $coin-diameter;
            height: $coin-diameter;
            transform-style: preserve-3d;
            animation: rotate3d $turn-time linear infinite;
            transition: all 0.3s;

            @media (max-width: 575px) {
                width: $coin-diameter-sm;
                height: $coin-diameter-sm;
            }
        }

        .coin-front,
        .coin-back {
            position: absolute;
            width: $coin-diameter;
            height: $coin-diameter;
            border-radius: 50%;
            overflow: hidden;
            background-color: $coin-color;

            @media (max-width: 575px) {
                width: $coin-diameter-sm;
                height: $coin-diameter-sm;
            }

            /*
            &:after {
                content: "";
                position: absolute;
                left: -$coin-diameter/2;
                bottom: 100%;
                display: block;
                height: $coin-diameter/1.5;
                width: $coin-diameter * 2;
                background: #fff;
                opacity: 0.3;
                animation: shine linear $turn-time/2 infinite;
            }*/
        }

        .coin-front {
            background-image: url($coin-img);
            background-size: cover;
            transform: translateZ($coin-thickness/2);

            @media (max-width: 575px) {
                transform: translateZ($coin-thickness-sm/2);
            }
        }

        .coin-back {
            background-image: url($coin-img);
            background-size: cover;
            transform: translateZ(-$coin-thickness/2) rotateY(180deg);

            @media (max-width: 575px) {
                transform: translateZ(-$coin-thickness-sm/2) rotateY(180deg);
            }
        }

        .coin-edge {
            transform-style: preserve-3d;

            @for $i from 1 through $edge-faces {
                div:nth-child(#{$i}) {
                    position: absolute;
                    height: $edge-face-length;
                    width: $coin-thickness;
                    background: darken($coin-color,
                            (($i - $edge-faces/2) * ($i - $edge-faces/2)) / ($edge-faces * $edge-faces/4) * 100 * 0.7);
                    transform: translateY(#{$coin-diameter/2-$edge-face-length/2}) translateX(#{$coin-diameter/2-$coin-thickness/2}) rotateZ(360deg / $edge-faces * $i + 90) translateX(#{$coin-diameter/2}) rotateY(90deg);

                    @media (max-width: 575px) {
                        width: $coin-thickness-sm;
                        transform: translateY(#{$coin-diameter-sm/2-$edge-face-length/2}) translateX(#{$coin-diameter-sm/2-$coin-thickness-sm/2}) rotateZ(360deg / $edge-faces * $i + 90) translateX(#{$coin-diameter-sm/2}) rotateY(90deg);
                    }
                }
            }
        }
    }
}

.meet-our-heros {
    padding: 0px 0px 0px;

    @media (max-width: 768px) {
        overflow: hidden;
    }

    @media (max-width: 640px) {
        .container-fluid {
            padding: 0px;
        }
    }

    .hero-title {
        position: relative;
        display: inline-block;

        @media (max-width: 768px) {
            display: block;
        }

        figure {
            width: 100%;
            height: 230px;
            position: absolute;
            left: 0px;
            top: -150px;

            @media (max-width: 768px) {
                top: 0px;
                left: 0px;
                overflow: hidden;
            }

            .img-t-2 {
                position: absolute;
                bottom: 0px;
                left: 0px;
            }

            .img-t-1 {
                top: 0px;
                left: 80px;
                position: absolute;
                width: 100px;
            }

            .img-t-3 {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }

    #our-heors {
        text-align: center;

        aside {
            padding: 40px 0px;

            img {
                width: auto;
                display: inline-block;
                transition: all 1000ms linear;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.people-saying {
    margin-top: 300px;


    .container-fluid {
        padding: 0px;
    }


    .hero-title {
        position: relative;
        display: inline-block;

        figure {
            width: 210px;
            height: 230px;
            position: absolute;
            right: -150px;
            top: -60px;
            margin: 0px;

            .img-t-1 {
                top: 0px;
                right: 70px;
                position: absolute;
                width: 100px;
            }

            .img-t-2 {
                position: absolute;
                top: 20px;
                right: -10px;
                width: 110px;
                z-index: 1;

            }
        }
    }

    .people-box {
        padding-left: 30px;
        padding-right: 30px;

        @media (max-width: 640px) {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            line-height: 20px;
        }

        figure {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            background-color: #eeeeee;
        }

        figcaption {
            a {
                color: $black;
                text-decoration: none;
                transition: all 400ms linear;

                &:hover {
                    color: $red;
                }

                .quoted {
                    p:before {
                        content: '“';
                        display: inline;
                        font-size: 40px;
                        position: relative;
                        top: 5px;
                        color: $red;
                    }

                    p:after {
                        content: '”';
                        display: inline;
                        font-size: 40px;
                        position: relative;
                        top: 15px;
                        color: $red;
                        line-height: 0px;
                    }

                    p {
                        display: block;
                        line-height: 22px;
                        font-size: 17px;
                    }


                }

                h5 {
                    font-size: 24px;
                }
            }

            span {
                font-family: $font;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 20px;
                display: block;

                @media (max-width: 640px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

.always-look {
    padding: 300px 0px 0px;

    .yellow-box {
        background-color: $yellow;
        border-radius: 120px;

        @media (max-width: 640px) {
            border-radius: 60px;
        }

        aside {
            &.home-video-gif {
                figure {
                    border-radius: 120px;
                    overflow: hidden;
                    border: 3px solid $black;
                    margin-bottom: 0px;

                    @media (max-width: 640px) {
                        border-radius: 60px;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            svg {
                height: auto;
            }

            span {
                vertical-align: baseline;
            }
        }

        @media (max-width: 991px) {
            h3 {
                font-size: 35px;
                line-height: 45px;
            }

            svg#LOGO {
                max-width: 170px;
            }
        }

        @media (max-width: 767px) {
            svg:not(#LOGO) {
                width: 100%;
            }
        }
    }
}

.discover {
    padding: 300px 0px 0px;

    .hero-title {
        position: relative;
        display: inline-block;

        @media (max-width: 768px) {
            display: block;
        }

        figure {
            width: 130px;
            height: 130px;
            position: absolute;
            right: -150px;
            top: 0px;
            margin: 0px;
            max-width: 100px;

            @media (max-width: 768px) {
                right: 0px;
                top: 20px;
                z-index: 0;

            }
        }

        h1 {
            position: relative;
            z-index: 1;
        }
    }

    .item-box {
        padding: 10px 30px;

        @media (max-width: 640px) {
            padding: 10px 15px;
        }

        figure {
            border-radius: 140px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $black;
            backface-visibility: hidden;
            z-index: 1;
            background-color: $white;

            a {
                display: block;
                width: 100%;
                border-radius: 140px;
            }

            img {
                width: 100%;
                transition: all 800ms linear;
                z-index: -99;
            }

            &:hover img {
                transform: scale(1.2);
            }
        }
    }
}

.home-blog {
    padding: 300px 0px 0px;
    overflow: hidden;

    @media (max-width: 767px) {
        padding: 40px 0px 80px;
    }

    a.btn {
        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    .cursor {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        user-select: none;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        background-image: url(#{$img}/right-arrows.png);
        background-repeat: no-repeat;
        background-position: center;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .insight-row {
        margin-bottom: 90px;
        padding: 50px 0px;

        &:first-child {
            margin-top: 70px;
        }

        @media (max-width: 767px) {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 40px 0px;
        }

        .insight-img {
            position: relative;

            @media (max-width: 767px) {
                transform: scale(0.9) !important;
            }

            figure {
                transition: all 400ms linear;
                cursor: pointer;

                &:first-child {
                    transform: rotate(-5deg) translate(10%, 0%);
                    position: absolute;
                    z-index: 3;

                    &.hide-img {
                        animation: insightImg 2s forwards;
                    }

                    &.show-img {
                        animation: insightImgshow 2s forwards;
                    }
                }

                &:nth-child(2) {
                    transform: rotate(5deg) translate(-3%, 25%);
                    position: absolute;
                    z-index: 2;

                    &.rotate-img {
                        animation: insightImgRot 2s forwards;
                    }

                    &.hide-img {
                        animation: insightImgTwo 2s forwards;
                    }

                    &.show-img {
                        animation: insightImgshowTwo 2s forwards;
                    }
                }

                &:last-child {
                    transform: rotate(12deg) translateX(7%);
                    position: relative;
                    z-index: 1;

                    &.rotate-img {
                        transform: rotate(0deg) translate(0%, 0%);
                    }
                }
            }
        }

        &:last-child {
            figure {
                &:first-child {
                    transform: rotate(5deg) translate(-3%, 0%);
                    position: absolute;
                    z-index: 3;

                    &.hide-img {
                        animation: insightImgInv 2s forwards;
                    }

                    &.show-img {
                        animation: insightImgshowInv 2s forwards;
                    }
                }

                &:nth-child(2) {
                    transform: rotate(-3deg) translate(6%, 25%);
                    position: absolute;
                    z-index: 2;

                    &.hide-img {
                        animation: insightImgTwoInv 2s forwards;
                    }

                    &.rotate-img {
                        animation: insightImgRot 2s forwards;
                    }

                    &.show-img {
                        animation: insightImgshowTwoInv 2s forwards;
                    }
                }

                &:last-child {
                    transform: rotate(-12deg) translateX(-10%);
                    position: relative;
                    z-index: 1;

                    &.rotate-img {
                        transform: rotate(0deg) translate(0%, 0%);
                    }
                }
            }
        }
    }
}

@keyframes insightImg {
    to {
        transform: rotate(-30deg) translate(-10%, 0%);
        opacity: 0;
    }
}

@keyframes insightImgInv {
    to {
        transform: rotate(30deg) translate(10%, 0%);
        opacity: 0;
    }
}

@keyframes insightImgTwo {
    from {
        transform: rotate(0deg) translate(0%, 0%);
    }

    to {
        transform: rotate(-30deg) translate(-10%, 0%);
        opacity: 0;
    }
}

@keyframes insightImgTwoInv {
    from {
        transform: rotate(0deg) translate(0%, 0%);
    }

    to {
        transform: rotate(30deg) translate(10%, 0%);
        opacity: 0;
    }
}

@keyframes insightImgRot {
    10% {
        transform: rotate(5deg) translate(-3%, 25%);
    }

    100% {
        transform: rotate(0deg) translate(0%, 0%);
    }
}

@keyframes insightImgshow {
    10% {
        transform: rotate(-20deg) translate(-10%, 0%);
    }

    100% {
        transform: rotate(-5deg) translate(10%, 0%);
    }
}

@keyframes insightImgshowInv {
    10% {
        transform: rotate(20deg) translateX(20%);
    }

    100% {
        transform: rotate(5deg) translate(-3%, 0%);
    }
}

@keyframes insightImgshowTwo {
    10% {
        transform: rotate(-20deg) translateX(-20%);
    }

    100% {
        transform: rotate(5deg) translate(-3%, 25%);
    }
}

@keyframes insightImgshowTwoInv {
    10% {
        transform: rotate(20deg) translateX(20%);
    }

    100% {
        transform: rotate(-3deg) translate(6%, 25%);
    }
}

.home-insta {
    padding: 300px 0px 80px;

    .btn-outline {
        &:hover {
            background-color: $black;
            color: $white;
            border-color: $black;
        }
    }
}

footer {
    padding: 100px 0px 20px;
    background-color: $grey;
    font-family: $font;
    font-size: 14px;
    color: $txt-grey;
    line-height: 24px;

    h6 {
        color: $black;
    }

    .ft-menu {
        ul {
            margin: 0px;
            padding: 0px;

            li {
                list-style: none;

                a {
                    color: $txt-grey;
                    display: block;
                    text-decoration: none;
                    transition: all 400ms linear;

                    &:hover {
                        color: $blue;
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    .copyright {
        a {
            color: $txt-grey;
            display: block;
            text-decoration: none;
            transition: all 400ms linear;

            &:hover {
                color: $red;
            }
        }
    }

    .newsletter {
        width: 100%;

        .input-group {
            @media (max-width: 640px) {
                justify-content: center;
            }

            .form-control {
                border-radius: 25px;
                height: 50px;
                border: 2px solid $black;
                margin-right: -40px;
                padding-left: 20px;
                box-shadow: none;
                outline: 0px;

                @include placeholder {
                    color: rgba($txt-grey, 0.5);
                }

                @media (max-width: 640px) {
                    width: 100%;
                    margin-right: 0px;
                    border-radius: 50px !important;
                }
            }

            .btn-warning {
                margin: 0px;
                padding: 0px 30px;
                font-family: $fontR;
                border-radius: 25px !important;
                position: relative;
                z-index: 4;
                border-width: 2px;

                &:hover {
                    background-color: $red;
                    border-color: $black;
                }

                @media (max-width: 640px) {
                    padding: 20px 25px;
                    margin-top: 20px;
                }
            }
        }
    }
}

.join-community {
    width: 100%;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;

    .btn-outline {
        font-family: $fontR;
        padding: 6px 30px;
        line-height: 20px;
        margin: 0px;

        svg {
            transition: all 400ms linear;
        }

        span {
            display: block;
            font-size: 14px;
        }

        strong {
            display: block;
            font-size: 21px;
        }

        &:hover {
            background-color: $red;
            color: $white !important;
            text-decoration: none !important;

            svg {
                fill: $white;
            }
        }
    }
}

.media-template {
    figure {
        width: 80%;

        img {
            width: 100%;
        }
    }
}

.top-sliding-menu {
    background-color: #efefef;
    width: 100%;
    height: 0px;
    overflow: hidden;
    border-bottom: 1px solid $black;
    transition: all 400ms cubic-bezier(0.22, 0.9, 1, 1);

    .close-column {
        background: #efefef;
        z-index: 1;
    }

    #topMenuSlider {
        figure {
            border: 3px solid $black;
            position: relative;

            img.h-hide {
                position: absolute;
                top: 0px;
                left: 0px;
                filter: grayscale(100%);
                transition: all 400ms linear;
            }

            &:hover img.h-hide {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &.topOpend {
        transform: translateY(0%);
        transition: all 300ms cubic-bezier(1, 0.16, 1, 1);
    }
}

.recipe-popup {
    @media screen and (max-width: 767px) {
        height: 100vh;
        overflow-y: scroll;
    }

    .modal-fullscreen {
        padding: 20px;
        max-width: 100%;

        @media screen and (max-width: 767px) {
            height: auto;
        }
    }

    .modal-content {
        border-radius: 100px;
        background-color: $white;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (max-width: 767px) {
            border-radius: 50px;

            .tab-pane {
                max-height: unset !important;
            }
        }

        .row {
            overflow: hidden;

        }

        aside {
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 400ms linear;

        }

        figure {
            margin: auto;
            text-align: center;
            padding: 50px 20px;

            @media (max-width: 768px) {
                overflow: hidden;
                border-top-right-radius: 50px;
                border-top-left-radius: 50px;
                padding-top: 0px;
                margin-top: 40px;
                padding-bottom: 0px;
            }
        }


        img {
            width: auto;
            max-width: 100%;
        }

        p,
        ul {
            font-size: 16px;
            font-family: $font;
            line-height: 26px;
        }

        .ingre-list {
            h5 {
                font-size: 18px;
                margin: 10px 0px 10px;
                line-height: 30px;
            }

            ul {
                padding-left: 0px;
                list-style: none;
            }

            h6 {
                margin-bottom: 0px;
            }
        }

        .alpha-list ul {
            list-style: lower-alpha;
            padding-left: 20px;
            margin-top: 10px;

            li {
                margin-bottom: 12px;
            }
        }


        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: $black;
            background-color: $yellow;
        }

        .nav-pills .nav-link {
            color: $black;
            background-color: $grey;
            font-size: 18px;
            border-radius: 0;
            min-width: 130px;
            text-align: center;
            padding: 5px 0px;
        }

        .nav-pills li.nav-item:first-child {
            border-right: 2px solid $black;
        }

        ul.nav-pills {
            border: 2px solid #000;
            width: auto;
            padding: 0px;
            border-radius: 50px;
            overflow: hidden;
            margin-left: 15px;
        }
    }

    &.show {
        .modal-content {
            aside {
                opacity: 1;
                visibility: visible;
                transition-delay: 0.5s;
            }
        }
    }

    button.btn {
        position: absolute;
        z-index: 9;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0px;
        background: $white;



        &:hover {
            color: $black;

        }
    }


}

.why-plant {
    p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 30px;
        max-width: 380px;
    }

    h5 {
        color: $blue;
        line-height: 30px;
        margin-bottom: 30px;
    }

    @media (max-width: 575px) {
        #sidebar {
            position: static !important;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 0px !important;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}

.contact-us {
    p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 575px) {
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.our-story {
    .story-title {
        h1 {
            display: inline-block;
            position: relative;
            padding: 0px 180px 90px;

            @media (max-width: 575px) {
                padding: 0px 10px;
                display: block;
                margin-bottom: 70px;

                svg {
                    display: block;
                    position: absolute;
                    right: -30px;
                    top: -10px;
                    z-index: -1;
                }
            }
        }

        @media (min-width: 576px) {
            svg {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
    }

    p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 575px) {
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

.faq-template {
    .accordion {
        & * {
            border: 0px;
            border-radius: 0px;
        }

        .accordion-item {
            margin-bottom: 30px;

            .accordion-button {
                outline: 0px;
                box-shadow: none;
                border-bottom: 1px solid $trans;
                font-size: 30px;
                background-color: $trans;
                border-radius: 0px;
                padding-left: 0px;
                padding-right: 0px;
                color: $black;

                @media (max-width: 640px) {
                    font-size: 16px;
                    line-height: 20px;
                }

                &:after,
                &:not(.collapsed):after {
                    background-image: url(#{$img}/arrow-faq.svg);
                }

                &:hover,
                &:focus {
                    background-color: $trans;
                    color: $black;
                }

                &.collapsed {
                    border-color: $txt-grey;
                    border-radius: 0px;
                }
            }

            .accordion-collapse {
                font-family: $font;
                font-size: 20px;
                line-height: 30px;

                @media (max-width: 640px) {
                    font-size: 16px;
                    line-height: 22px;
                }

                .accordion-body {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}

.product-template {
    p {
        font-size: 20px;
        line-height: 27px;
    }

    @media (min-width: 576px) {
        .mt-offset {
            transform: translateY(-20%);
        }

        .fixed-product {
            position: fixed;
            left: 0px;
            right: 0px;
            margin: 0px auto;
            text-align: center;
        }
    }

    @media (max-width: 575px) {
        .fixed-product {
            margin-top: 0px !important;
        }
    }
}

.discover-prdct {
    background-color: $red;
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    padding-top: 70px;

    .img-t-1 {
        max-width: 100px;
    }

    @media (max-width: 768px) {
        .hero-title figure {
            right: 20px;
            top: -115px;
            z-index: 1;
        }
    }
}

@media (max-width: 575px) {
    .top-sliding-menu {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .mobileRotation {
            transform: rotate3d(0, 0, 1, 90deg);

            aside {
                transform: rotate3d(0, 0, 1, -90deg);
                padding: 0px !important;
                padding-right: 30px !important;
                padding-left: 10px !important;
            }

            .flickity-viewport {
                // height: 440px !important;
                overflow: visible;
            }
        }

        .owl-stage-outer {
            overflow: visible;
        }
    }
}

.campaign-page {
    @media (max-width: 991px) {
        .container-md {
            max-width: 100%;
        }
    }
}

.youtube-video {
    max-width: 1366px;
    position: relative;
    padding: 0px;
    padding-bottom: 56.25%;
    width: 100%;

    .video-iframe {
        border-radius: 50px;
        border: 1px solid $black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .share-video {
        background-color: $blue;
        color: $white;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        transform: rotate(20deg);
        display: block;
        text-decoration: none;
        padding: 28px 0px 0px;
        text-align: center;
        font-size: 23px;
        position: absolute;
        right: 80px;
        bottom: -40px;
        z-index: 1;
        transition: all 400ms linear;

        &:hover {
            background-color: $red;
        }
    }

    .sharePop {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 10px;
        background: rgba($black, 0.75);
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;

        .share-content {
            background: $green;
            border-radius: 50px;
            border: 1px solid $black;
            width: auto;
            padding: 10px;
            max-width: 98%;

            @media (max-width: 768px) {
                border-radius: 30px;
                text-align: center;
            }

            .copy-link {
                position: relative;
                padding-left: 0px;

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }

                .copyText {
                    border-radius: 50px;
                    width: 100%;
                    height: 40px;
                    border: 1px solid $black;
                    padding: 5px 15px;
                    font-size: 15px;
                    font-family: $font;
                    outline: 0px;
                    min-width: 450px;

                    @media (max-width: 991px) {
                        min-width: 410px;
                    }

                    @media (max-width: 768px) {
                        min-width: 270px;
                    }

                    @media (max-width: 575px) {
                        min-width: 160px;
                    }
                }

                #linkCopyBtn {
                    border-radius: 50px;
                    background-color: $yellow;
                    color: $black;
                    border: 1px solid $black;
                    font-family: $titleFont;
                    font-size: 16px;
                    padding: 0px 12px;
                    height: 40px;
                    position: absolute;
                    width: 120px;
                    right: 0px;
                    top: 0px;
                }
            }

            .ytb-link {
                padding-right: 0px;

                .btn-danger {
                    border-radius: 50px;
                    background-color: $red;
                    color: $black;
                    border: 1px solid $black;
                    font-family: $titleFont;
                    font-size: 16px;
                    padding: 5px 12px;
                    height: 40px;
                    display: inline-block;
                    text-decoration: none;
                    width: 175px;
                }
            }
        }

        .closebtn {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 20px;
            height: 20px;

            &:before,
            &:after {
                content: "";
                display: block;
                width: 2px;
                height: 15px;
                background: #fff;
                transform: rotate(45deg);
                position: absolute;
                left: 0px;
                top: 0px;
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}

.privacy-policy {

    p,
    ul {
        font-family: $font;
        font-size: 16px;
        line-height: 26px;
    }

    h3 {
        margin-top: 40px;
    }

    h5 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    li {
        margin-bottom: 15px;
    }

    h6 {
        margin-top: 20px;
        font-family: $font;
    }
}

.iphone .always-look .yellow-box aside span {
    vertical-align: baseline;
    display: inline-block !important;
    position: relative;
    top: -6px;
}